{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {}
            }
        ]
    ],
    "comments": false,
    "plugins": [
        "babel-plugin-add-module-exports",
        ["@babel/plugin-proposal-decorators", {"legacy": true}],
        ["@babel/plugin-proposal-class-properties", {"loose": true}]
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}
